body {
  font-family: 'Arial', sans-serif;
  background: #09e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.player {
  background: rgb(226, 181, 181);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 300px;
  text-align: center;
}

.track-info {
  margin-bottom: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.controls button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  flex: 1;
  margin: 0 5px;
}

.progress-container {
  background: #ddd;
  height: 10px;
  border-radius: 5px;
  margin: 15px 0;
  cursor: pointer;
}

.progress {
  background: #007BFF;
  height: 100%;
  width: 0%;
  border-radius: 5px;
}

.volume {
  width: 100%;
  margin-top: 10px;
}

#replaceImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.time-info {
  font-size: 14px;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #333;
}

#volume-label {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #333;
}
